<%-include('../partials/userHeader.ejs') %>

<section class="userPage">
    <div class="container">
        <div class="header">
            <h2>Account Sign Up</h2>
        </div>
        <form class="form" action="/registerUser" method="POST" onsubmit="return signupValidate()">
            <% if(errMsg){%>
                <div class="errorstyle">
                    <p style="text-align:center; color: rgb(255, 0, 0);">
                        <%= errMsg %>
                    </p>
                </div>
            <% } %>
            <div class="form-control">
                <label for="username"></label>
                <input type="text" placeholder="Name" name="name" id="name"/>
                <small id="nameError"></small>
            </div>
            <div class="form-control">
                <label for="username"></label>
                <input type="email" placeholder="Email Address" name="email" id="email"/>
                <small id="emailError"></small>
            </div>
            <div class="form-control">
                <label for="username"></label>
                <input type="" placeholder="Phone No." name="phoneNumber" id="phoneNumber"/>
                <small id="mobileError"></small>
            </div>
            <div class="form-control">
                <label for="password"></label>
                <input type="password" placeholder="Password" name="password" id="password" />
                <small id="passwordError"></small>
            </div>
            <div class="form-control">
                <label for="password"></label>
                <input type="password" placeholder="Confirm Password" name="confirm_Password" id="confirm_Password" />
                <small id="confirmPaswordError"></small>
            </div>
            
                <button type="submit" >Sign Up</button>  
            
                <span class="log-in"> 
                    <P>Already have an acount?<a class="txt2" href="/userLogin">
                          Log In
                      </a>
                    </P>
                  </span>
            
        </form>
    </div>
</section>
<style>
.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #151A8F;
    text-decoration: none;
    font-weight: bold;
  }

  span p{
      font-size: 13px;
  }
  span{
      display: flex;
      justify-content: center;
  }

</style>  